:root {
  --color-blue: #1f2937;
  --color-white: #f9faf8;
  --color-sky_blue: #3882f6;
  --color-grey: #e5e7eb;
}

/* General Style */

html * {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: var(--color-white);
}

.title-logo {
  font-size: 24px;
  color: var(--color-white);
  font-weight: bold;
}

.wrap-cta {
  padding: 1.5rem 0;
}

.cta-a {
  color: var(--color-white);
  font-weight: bold;
  font-size: 1.2rem;
  background-color: var(--color-sky_blue);
  padding: .5rem 2rem;
  border-radius: .2rem;
}

.cta-b {
  color: var(--color-white);
  font-weight: bold;
  font-size: 1.2rem;
  background-color: var(--color-sky_blue);
  padding: .5rem 2rem;
  border-radius: .2rem;
}

input[type="submit"] {
  border: 0;
  display: inline;
  cursor: pointer;
}

/* Header-landing section */

.header-landing {
  background-color: var(--color-blue);
}

.wrap-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 400px;
  gap: 386px;
}

.wrap-logo li {
  color: var(--color-grey);
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  gap: 20px;
}


/* one-column section */

.one-column-section {
  background-color: var(--color-blue);
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px 400px;
  gap: 100px;
}

.wrap-text-column {
  max-width: 800px;
  color: var(--color-grey);
}

/* two-column section */

h2 {
  font-size: 36px;
  font-weight: bold;
}

.info {
  max-width: 200px;
  text-align: center;
}

.picture {
  width: 200px;
  height: 200px;
  border: solid var(--color-sky_blue);
  border-radius: 10px;
}

.two-colum-section {
  background-color: var(--color-white);
}

.wrap-title-section {
  padding: 20px 400px;
  display: flex;
  justify-content: center;
  margin: 1rem 1rem;
}

.wrap-information {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 60px;
  margin: 50px 200px 100px;
}

/* three-column section */

.three-column-section {
  background-color: var(--color-grey);
  padding: 100px 400px;
}

.wrap-quote {
  max-width: 816px;
  margin: auto;
}

.size {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.wrap-cite {
  text-align: right;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}